@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
@import "_responsive.scss";


.about {
  &__q {
    width: 100%;
    border: 0;
    outline: 0;
    color:var(--dark-font-color);
    cursor: pointer;
    padding: 0 1em;
    h2 {
      &::before {
        content: "Q.\00a0 ";
        display:inline-flex;
      }
    }
  }

  &__a {
    display:none;
    &.active {
      display: flex;
    }
  }
}