@import "_responsive";
@import "_index";

.detail {
  @extend .container;
  margin: 0 auto;

  &__background {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;

    &:before {
      content: "";
      background: linear-gradient(to bottom, black, transparent);
      position: absolute;
      left: 0;
      height: inherit;
      width: inherit;
    }
  }

  &__content {
    margin: 0 60px;
    display: grid;
    column-gap: 30px;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "poster summary"
    "poster plot";

    .detail__poster {
      grid-area: poster;
      position: relative;
      top: -50px;
      object-fit: cover;
      border: 2px solid var(--gray-100);
      border-radius: 5px;
      box-shadow: rgb(0 0 0 / 30%) 0 0 2px;
    }

    .detail__summary {
      grid-area: summary;

      .detail__title {
        color: var(--dark-font-color);
      }

      .detail__item {
        margin-bottom: 12px;
      }

      .detail__genre {
        background-color: var(--gray-200);
        border-radius: 10px;
        padding: 1px 8px;
        margin: 2px 3px;
      }
    }

    .detail__plot {
      grid-area: plot;
    }

  }
  &__misc {
    margin: 0 80px;


    &__cast {
      margin-bottom: 40px;
    }
    &__download {
      margin-bottom: 40px;
    }
    &__suggestions {

    }
  }
}

@include media(tablet, mobile) {
  .detail {

    &__content, &__misc {
      position: relative;
      top: -230px;
    }

    &__content {
      margin: 0 10px;
      column-gap: 20px;
      grid-template-areas:
    "poster summary"
    "plot plot";

      .detail__poster {
        position: relative;
        width: unset;
        top: 0;
      }

      .detail__plot {
        margin-left: 10px;
        margin-right: 10px;
      }
    }

    &__misc {
      margin: 0 10px;
    }
  }
}

@include tablet {
  .detail {
    &__content {
      row-gap: 20px;

      .detail__poster {
        height: 200px;
      }

      .detail__summary {
        width: calc(100vw - 190px);
      }
    }
  }
}

@include mobile {
  .detail {

    &__content {
      row-gap: 54px;

      .detail__poster {
        height: 140px;
      }

      .detail__summary {
        width: calc(100vw - 130px);
        margin: 0;

        .detail__title {
          margin-top: 0;
        }

        .detail__genre {
          font-size: 12px;
        }
      }
    }
  }

}
