@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
@import "_responsive.scss";

header, header * {
  z-index: 10;
}

header {
  position: sticky;
  top: 0;

  .navbar {
    font-family: 'Song Myung', serif;
    display: flex;
    align-items: center;
    background: transparent; /* fallback for old browsers */
    text-decoration: none;
    position: absolute;
    height: 60px;
    width: 100%;
    padding: 0 3vw;
    box-sizing: border-box;
    transition: background-color 1s;

    &__title {
      width: auto;
      font-weight: bold;
      text-decoration: none;
      color: var(--gray-100);
      font-family: 'Brush Script MT', cursive;
      font-size: 2.5em;
    }

    &__menu {
      justify-content: space-evenly;
      list-style: none;
      padding-left: 2vw;
      margin-block-start: 0;
      margin-block-end: 0;

      .navbar__item {
        padding: 8px 12px;
        cursor: pointer;
        font-size: 14px;

        a {
          color: var(--gray-100);
          text-decoration: none;
          font-weight: normal;
        }

        &:hover a {
          color: var(--gray-200);
          transition: color 1s;
        }

      }
    }

    &__misc {
      display: flex;
      list-style: none;
      padding-left: 0;
      margin-block-start: 0;
      margin-block-end: 0;
      margin: 0 0 0 auto;

      .navbar__search {
        display: flex;
        margin: 0 0 0 auto;
        padding: 2px 12px;
        height: 100%;

        &__icon, &__input {
          background-color: var(--dark-bg-color);
          height: 22px;
          padding: 4px;
        }

        &__icon {
          filter: invert(83%) sepia(3%) saturate(4144%) hue-rotate(201deg) brightness(109%) contrast(104%);
        }

        &__input {
          border: none;
          outline: none;
          color: var(--dark-font-color);
          height: 30px;
          padding: 0 12px;
        }
      }

      .navbar__icon {
        padding: 8px 12px;
        color: var(--highlight-color);
        cursor: pointer;
      }
    }

    &__toggle {
      display: none;
      position: absolute;
      right: 20px;
      top: 10px;

    }
  }

  .navbar-dark {
    background-color: var(--dark-bg-color);

    .navbar__title {
      color: var(--main-color);
    }
  }
}

@include media(mobile) {
  header {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      height: max-content;

      &__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-left: 0;

        &.active {
          display: flex;
        }

        .navbar__item {
          width: 100%;
          text-align: center;
        }
      }

      &__misc {
        display: none;
        justify-content: center;
        width: 100%;

        &.active {
          display: flex;
        }

        .navbar__search {
          margin: 0;
        }
      }

      &__toggle {
        display: flex;

      }

    }
  }

}