@import "_responsive";

.movie {
  height: 30vh;
  padding: 10px 0;

  &__poster {
    height: 100%;
    border-radius: 5px;
  }

  &__summary {
    flex: 1 1;
    width: 100%;
    max-height: 100%;
    padding: 30px;
  }

  &__title {
    color: var(--dark-font-color);
  }

  &__genres {
    display: flex;

    &__genre {
      color: var(--dark-bg-color);
      background-color: var(--gray-200);
      border-radius: 10px;
      padding: 4px 8px;
      margin: 2px 3px;
    }
  }

  &__rating {
    width: 5em;

    span {
      font-size: 0.8em;
      color: var(--gray-200);
      padding: 0 1em;
    }

    b {
      padding: 0 1em;
      font-size: 2em;
      font-weight: bold;
      color: var(--dark-font-color);
    }
  }
}

@include media(tablet, mobile) {
  .movie {
    &__summary {
      padding: 10px;
    }
  }
}

@include tablet {
  .movie {
    height: 20vh;

    &__genres {
      &__genre {
        font-size: 2vw;
      }
    }

  }
}

@include mobile {
  .movie {
    height: 15vh;
    padding: 5px 0;

    &__title {
      font-size: 1em;
    }

    &__genres {
      display: none;
    }

    &__rating {
      span {
        font-size: 0.6em;
      }

      b {
        font-size: 1em;
      }
    }
  }
}


