@import "_responsive";
@import "_index";

.suggestion {
  text-decoration: none;
  display: block;

  &__poster {
    border-radius: 5px;
    width: 20vw;
  }

  &__title {
    color: var(--dark-font-color);
  }
}

//
//.carousel {
//  width: 80vw;
//  &__item {
//    width: 200px
//
//  }
//}