@import "_responsive";
@import "_index";

.suggestion-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.suggestion {
  text-decoration: none;
  display: block;
  width: 20vw;
  margin: 4px 8px;

  &__poster {
    border-radius: 5px;
    width: 100%;
    min-width: 80px;
  }

  &__title {
    color: var(--dark-font-color);
  }
}

@include media(tablet, mobile) {
  .suggestion {
    &__title {margin: 4px 0}
  }
}