@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

header {
  position: sticky;
  top: 0;

  .navbar {
    font-family: 'Song Myung', serif;
    display: flex;
    align-items: center;
    background: transparent; /* fallback for old browsers */
    text-decoration: none;
    position: absolute;
    height: 60px;
    width: 100%;
    padding: 0 3vw;
    box-sizing: border-box;
    transition: background-color 1s;

    &__title {
      width: auto;
      font-weight: bold;
      text-decoration: none;
      color: var(--main-color);
      font-family: 'Brush Script MT', cursive;
      font-size: 2.5em;
    }

    &__menu {
      justify-content: space-evenly;
      list-style: none;
      padding-left: 2vw;
      margin-block-start: 0;
      margin-block-end: 0;

      .navbar__item {
        padding: 8px 12px;
        cursor: pointer;
        font-size: 14px;

        a {
          color: var(--border-color);
          text-decoration: none;
          font-weight: normal;
        }

        &:hover a {
          color: var(--gray-200);
          transition: color 1s;
        }

      }
    }

    .navbar__misc {
      display: flex;
      list-style: none;
      padding-left: 0;
      margin-block-start: 0;
      margin-block-end: 0;
      margin: 0 0 0 auto;

      .navbar__search {
        margin: 0 0 0 auto;
      }

      .navbar__search,
      .navbar__icon {
        padding: 8px 12px;
        color: var(--highlight-color);
        cursor: pointer;
      }
    }
  }

  .navbar-dark {
    background-color: var(--dark-bg-color);
  }

}

header, header * {
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__item {
    width: 100%;
    text-align: center;
  }

  .navbar__misc {
    justify-content: center;
    width: 100%;
  }
}