@import "./index.scss";

.movie {
  height: 30vh;
  padding: 10px 0;

  &__img {
    height: 100%;
    border-radius: 5px;
  }

  &__summary {
    flex: 2;
    width: 100%;
    max-height: 100%;
    padding: 30px;
  }

  &__title {
    color: var(--dark-font-color);
  }

  &__genre {
    background-color: var(--main-color);
    color: white;
    border-radius: 10px;
    padding: 4px 8px;
    margin: 2px 3px;
  }

  &__rating {
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
  }
}


.detail {
  width: 100vw;
  min-height: 100%;

  &__background {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;

    &:before {
      content: "";
      background: linear-gradient(to bottom, black, transparent);
      position: absolute;
      left: 0;
      height: 30%;
      width: 100%;
    }
  }

  &__content {

    .detail__poster {
      position: absolute;
      top: 250px;
      width: 230px;
      height: 345px;
      object-fit: cover;
    }

    .detail__description {
      width: 100%;
      height: max-content;

      &:before {
        content: "";
        left: 0;
        width: 250px;
        height: 250px;
        float: left;
      }

      .detail__title {
        color: var(--dark-font-color);
      }

      .detail__item {
        margin-bottom: 12px;
      }

      .detail__genre {
        background-color: var(--gray-200);
        border-radius: 10px;
        padding: 1px 8px;
        margin: 2px 3px;
      }
    }

  }
}

@media screen and (max-width: 1023px) {

}

@media screen and (max-width: 768px) {

}

